<header class="header">
  <div class="logo"> 
    <a class="logo__link" href="index.html">
      <img src="/src/images/Logo/EnergiaXStudioLogo.png" alt="EnergiaX Studio" />
    </a>
    
  </div>
  <div class="navigation__container hide-for-phone"> 
    <nav class="navigation">
      <ul class="navigation__list">
          <li class="navigation__item">
              <a class="navigation__link navigation__link--active" href="/index.html">Główna</a>
          </li>
          <li class="navigation__item">
              <a class="navigation__link" href="/src/site/aboutUs.html" >O nas</a>
          </li>
          <li class="navigation__item">
              <a class="navigation__link" href="/src/site/products" >Nasze Dzieła</a>
          </li>
          <li class="navigation__item">
              <a class="navigation__link joinUs__link" href="/index.html#joinUs">Dołącz do nas</a>
          </li>
      </ul>
  </nav>
  </div>
</header>