body{
  margin: 0;
}
h1,h2,h3,p,aside{
  margin-left: 10%;
}
aside{
  font-style: italic;
}
section {
  height: 100vh;
  scroll-snap-align: start;
}

:target {
  scroll-margin-top: 91px; /* Dodaj margines do uwzględnienia stałej wysokości menu */
}